apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rodan-demo-v5-stage
  namespace: tssc-gitops
  finalizers: ["resources-finalizer.argocd.argoproj.io"] 
spec:
  project: default
  source:
    path: ./components/rodan-demo-v5/overlays/stage
    repoURL: https://github.com/deanpeterson/rodan-demo-v5-gitops.git
    targetRevision: main
  destination:
    namespace: rodan-demo-stage
    server: https://kubernetes.default.svc
  syncPolicy:
    managedNamespaceMetadata:
      labels: 
        argocd.argoproj.io/managed-by: tssc-gitops
    automated: 
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true

